{% extends "main/base.html" %}
{% load static %}
{% block title %}Главная{% endblock %}
{% block current_id %}home{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <ul class="no-markers">
      <li>Заявок в работе <span class="badge badge-secondary badge-pill">{{ ticket_list.count }}</span>
        <ul class="no-markers">
          <li>по 223-ФЗ <span class="badge badge-secondary badge-pill">{{ fz_223_all }}</span>
            <ul class="no-markers">
              <li>Конкурентных <span class="badge badge-secondary badge-pill">{{ fz_223_concurent }}</span></li>
              <li>С единственным поставщиком <span class="badge badge-secondary badge-pill">{{ fz_223_ep }}</span></li>
            </ul>
          </li>
          <li>по 44-ФЗ <span class="badge badge-secondary badge-pill">{{ fz_44_all }}</span>
            <ul class="no-markers">
              <li>Конкурентных <span class="badge badge-secondary badge-pill">{{ fz_44_concurent }}</span></li>
              <li>С единственным поставщиком <span class="badge badge-secondary badge-pill">{{ fz_44_ep }}</span></li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
{% endblock %}