{% extends "main/base.html" %}
{% load static %}
{% load prices_filters %}
{% block custom_static %}
  <link rel="stylesheet" type="text/css" href="{% static 'main/css/btn_sm_full_size.css' %}">
{% endblock %}
{% block title %}Информация о контракте{% endblock %}
{% block content %}
<div class="container">
  <table class="table table-sm">
    <thead>
      <tr><th colspan="2"><h4>Информация о контракте</h4></th></tr>
    </thead>
    <tbody>
      <tr>
        <th>Номер</th>
        <td>{{ contract.num }}</td>
      </tr>
      {% if contract.ticket.tender_type.ep_and_use_ikz and contract.other_ikz_part %}
      <tr>
        <th>ИКЗ</th>
          <td>
            {% autoescape off %}
            <span id="copy-text">
              {{ contract.get_ikz_ep_300 }}
            </span>
            {% endautoescape %}
            <button class="col-3 btn btn-sm font-weight-bold btn-outline-dark copy-btn">Копировать ИКЗ</button>
          </td>
      </tr>
      {% endif %}
      <tr>
        <th>Дата</th>
        <td>{{ contract.date }}</td>
      </tr>
      <tr>
        <th>Сумма, руб.</th>
        <td>{{ contract.price|print_money }}</td>
      </tr>
      <tr>
        <th>Контрагент</th>
        <td>{{ contract.kontragent }}</td>
      </tr>
      <tr>
        <th>Спецификация</th>
        <td>{{ contract.specif }}</td>
      </tr>
      <tr>
        <th>Банковская гарантия</th>
        <td>{% if contract.bank_guar %}Да{% else %}Нет{% endif %}</td>
      </tr>
      <tr>
        <th>Сумма обеспечения</th>
        <td>{{ contract.pledge|print_money }}</td>
      </tr>
      <tr><td colspan="2"></td></tr>
      {% if contract.tender %}
      <tr><th colspan="2"><h4>Информация о закупке</h4></th></tr>
      <tr>
        <th>ИКЗ</th>
        <td>{{ contract.tender.ikz }}</td>
      </tr>
      <tr>
        <th>Номер извещения</th>
        <td>{{ contract.tender.num }}</td>
      </tr>
      <tr>
        <th>Для СМП</th>
        <td>{% if contract.tender.smp %}Да{% else %}Нет{% endif %}</td>
      </tr>
      {% endif %}
      <tr><td colspan="2"></td></tr>
      <tr><th colspan="2"><h4>Информация о заявке</h4></th></tr>
      <tr>
        <th>Предмет</th>
        <td>{{ contract.ticket.name }}</td>
      </tr>
      <tr>
        <th>Ответственный</th>
        <td>{{ contract.ticket.worker.last_name }}</td>
      </tr>
      <tr>
        <th>Инициатор (филиал)</th>
        <td>{{ contract.ticket.get_initiator_display }} ({{ contract.ticket.filial }})</td>
      </tr>
      <tr>
        <th>Способ закупки</th>
        <td>{{ contract.ticket.tender_type.name }}</td>
      </tr>
      <tr>
        <th>Закон</th>
        <td>{{ contract.ticket.tender_type.get_law_display }}</td>
      </tr>
      <tr>
        <th>Подтип</th>
        <td>{{ tender.ticket.get_under_type_display }}</td>
      </tr>
      <tr>
        <th colspan="2">
          {% if contract.tender %}
            <a class="btn font-weight-bold btn-outline-dark" role="button" href="{% url 'tenders:tender_detail' contract.tender.id %}">Посмотреть закупку</a>
          {% endif %}
          <a class="btn font-weight-bold btn-outline-dark" role="button" href="{% url 'contracts:contract_update' contract.id %}">Изменить контракт</a>
          <a class="btn font-weight-bold btn-outline-danger" role="button" href="{% url 'contracts:contract_delete' contract.id %}">Удалить контракт</a>
          {% if perms.tenders.change_ticket %}
            <a class="btn font-weight-bold btn-outline-success" href="{% url 'tickets:ticket_update' contract.ticket.id %}" role="button">Изменить заявку</a>
          {% endif %}
          {% if contract.tender %}
            <a class="btn font-weight-bold btn-outline-dark" href="{% url 'contracts:contract_for_buh' contract.id %}" target="_blank" role="button">Информация для бухгалтерии</a>
          {% endif %}
          {% if contract.tender.ikz %}
            <a class="btn font-weight-bold btn-outline-dark" href="{{ contract.get_eis_url }}" target="_blank" role="button">Посмотреть в ЕИС</a>
          {% endif %}
          
        </th>
      </tr>
    </tbody>
  </table>
</div>

<div class="container">
  <h4>Цена контракта</h4>
  <table class="table table-sm table-bordered">
    <thead>
      <tr class="text-center">
        <th class="align-middle">Год лимитов</th>
        <th class="align-middle">Источник</th>
        <th class="align-middle">Статья</th>
        <th class="align-middle">Отралевой код</th>
        <th class="align-middle">Код субсидии</th>
        <th class="align-middle">Подраздел</th>
        {% if contract.tender %}
          <th class="align-middle" style="width: 110px">НМЦК, руб.</th>
          <th class="align-middle">Экономия, руб.</th>
        {% endif %}
        <th class="align-middle" style="width: 110px">Сумма, руб.</th>
        {% if contract.contractchange_set.all %}
          <th class="align-middle">Сумма c учетом доп. соглашений, руб.</th>
        {% endif %}
        <th class="align-middle">Действия</th>
      </tr>
    </thead>
    <tbody>
      {% for price in contract.contractprice_set.all %}
        <tr class="text-center">
          <td class="align-middle">{{ price.limit.industry_code.limit_article.source.limit.year }}</td>
          <td class="align-middle" title="{{ price.limit.industry_code.limit_article.source.name }}">{{ price.limit.industry_code.limit_article.source.num }}</td>
          <td class="align-middle" title="{{ price.limit.industry_code.limit_article.name }}">{{ price.limit.industry_code.limit_article.num }}</td>
          <td class="align-middle" title="{{ price.limit.industry_code.name }}">{{ price.limit.industry_code.num }}</td>
          <td class="align-middle">{{ price.limit.sybsidy_code }}</td>
          <td class="align-middle">{{ price.subdivision.num }}</td>
          {% if contract.tender %}
            <td class="align-middle">{{ price.start_price.money|print_money }}</td>
            <td class="align-middle">{{ price.get_economy|print_money }}</td>
          {% endif %}
          <td class="align-middle">{{ price.money|print_money }}</td>
          {% if contract.contractchange_set.all %}
            <td class="align-middle">{{ price.get_money_with_change|print_money }}</td>
          {% endif %}
          <td class="align-middle">
            <a class="btn btn-sm btn-outline-dark" role="button"  href="{% url 'prices:contractprice_update' price.id %}">Изменить</a><br>
            {% if not contract.tender %}
              <a class="btn btn-sm btn-outline-dark" role="button"  href="{% url 'prices:contractprice_copy' price.contract.id price.id %}">Копировать</a><br>
            {% endif %}
            <a class="btn btn-sm btn-outline-danger" role="button" href="{% url 'prices:contractprice_delete' price.contract.id price.id %}">Удалить</a>
          </td>
        </tr>
      {% endfor %}
      {% if not contract.tender %}
        <tr>
          <th colspan="11"><a class="btn font-weight-bold btn-outline-dark" role="button" href="{% url 'prices:contractprice_create' contract.pk %}">Добавить строку финансирования</a></th>
        </tr>
      {% endif %}
    </tbody>
  </table>
</div>

<div class="container">
  <h4>Доп. соглашения</h4>
  <table class="table table-bordered">
    {% if contract.contractchange_set.all %}
      <thead>
        <tr class="text-center">
          <th class="align-middle">Номер</th>
          <th class="align-middle">Дата</th>
          <th class="align-middle">Причина</th>
          <th class="align-middle">Источник</th>
          <th class="align-middle">Статья</th>
          <th class="align-middle">Отралевой код</th>
          <th class="align-middle">Код субсидии</th>
          <th class="align-middle">Подраздел</th>
          <th class="align-middle">Сумма изменения, руб.</th>
          <th class="align-middle">Действия</th>
        </tr>
      </thead>
      <tbody>
        {% for change in contract.contractchange_set.all %}
          <tr class="text-center">
            <td class="align-middle" rowspan="{{ change.contractpricechange_set.count|add:1 }}">
              Доп. соглашение №{{ change.num }}
              <a class="btn btn-sm btn-outline-dark" role="button"  href="{% url 'contracts:contract_change_update' change.id %}">Изменить</a><br>
              <a class="btn btn-sm btn-outline-danger" role="button" href="{% url 'contracts:contract_change_delete' change.contract.id change.id %}">Удалить</a>
            </td>
            <td class="align-middle" rowspan="{{ change.contractpricechange_set.count|add:1 }}">от {{ change.date }}</td>
            <td class="align-middle" rowspan="{{ change.contractpricechange_set.count|add:1 }}">{{ change.get_reason_display }}</td>
            <td class="align-middle">
              
            </th>
          </tr>
          {% for price in change.contractpricechange_set.all %}
            <tr class="text-center">
              <td class="align-middle" title="{{ price.price.limit.source.kfo_name }}">{{ price.price.limit.source.kfo }}</td>
              <td class="align-middle" title="{{ price.price.limit.industry_code.limitArticle.name }}">{{ price.price.limit.industry_code.limitArticle.num }}</td>
              <td class="align-middle" title="{{ price.price.limit.industry_code.name }}">{{ price.price.limit.industry_code.code }}</td>
              <td class="align-middle">{{ price.price.limit.sybsidy_code }}</td>
              <td class="align-middle">{{ price.price.subdivision }}</td>
              <td class="align-middle">{{ price.delta }}</td>
              <td class="align-middle">
                <a class="btn btn-sm btn-outline-dark" role="button"  href="{% url 'prices:contract_price_change_update' price.id %}">Изменить</a><br>
              <a class="btn btn-sm btn-outline-danger" role="button" href="{% url 'prices:contract_price_change_delete' price.change.contract.id price.id %}">Удалить</a>
              </td>
            </tr>
          {% endfor %}
        {% endfor %}
      {% endif %}
      <tr>
        <th colspan="10"><a class="btn font-weight-bold btn-outline-dark" role="button" href="{% url 'contracts:create_contract_change' contract.id %}">Добавить доп. соглашение</a></th>
      </tr>
    </tbody>
  </table>
</div>
{% endblock %}

{% block exta_loadings %}
<script>
  $('.copy-btn').click(function() {
    const text = document.querySelector('#copy-text');
    let range = document.createRange();
    range.selectNode(text);
    window.getSelection().addRange(range);
    document.execCommand("copy");
    $(this).text('ИКЗ скопирован!');
    window.getSelection().removeAllRanges();
  });
</script>
{% endblock %}