.ticket {
    background-color: #BECBCC;
    text-align: center;
}

.tender {
    background-color: #A8BBBD;
    text-align: center;
}

.contract {
    background-color: #95ABAD;
    text-align: center;
}

.contract + a {
    top: 0%;
}

.stky {
    position: sticky;
    top: 0;
    z-index: 1;
}

table {
    table-layout: fixed;
    width: 500px;
    font-size: 12px;
}

.btn-sm {
    font-size: 12px;
}

th, td {
    word-wrap:break-word;
}

input {
    width: 100%;
 }

 .tr-hide {
    font-size: 0px;
    height: 0px;
    border: 0px solid red !important;
 }