{% extends "main/base.html" %}
{% load static %}
{% load prices_filters %}
{% block custom_static %}
  <link rel="stylesheet" type="text/css" href="{% static 'main/css/btn_sm_full_size.css' %}">
{% endblock %}
{% block title %}Информация о закупке{% endblock %}
{% block content %}
<div class="container">
  <table class="table table-sm">
    <thead>
      <tr><th colspan="2"><h4>Информация о закупке</h4></th></tr>
    </thead>
    <tbody>
      <tr>
        <th>ИКЗ</th>
        <td>{{ tender.ikz }}</td>
      </tr>
      <tr>
        <th>Номер извещения</th>
        <td>{{ tender.num }}</td>
      </tr>
      <tr>
        <th>НМЦК, руб.</th>
        <td>{{ tender.price|print_money }}</td>
      </tr>
      <tr>
        <th>Статус</th>
        <td>{{ tender.get_status_display }}</td>
      </tr>
      <tr>
        <th>Закупка для СМП</th>
        <td>{% if tender.smp %}Да{% else %}Нет{% endif %}</td>
      </tr>
      <tr><td colspan="2"></td></tr>
      <tr><th colspan="2"><h4>Информация о заявке</h4></th></tr>
      <tr>
        <th>Предмет</th>
        <td>{{ tender.ticket.name }}</td>
      </tr>
      <tr>
        <th>Инициатор (филиал)</th>
        <td>{{ tender.ticket.get_initiator_display }} ({{ tender.ticket.filial }})</td>
      </tr>
      <tr>
        <th>Ответственный</th>
        <td>{{ tender.ticket.worker.last_name }}</td>
      </tr>
      <tr>
        <th>Способ закупки</th>
        <td>{{ tender.ticket.tender_type.name }}</td>
      </tr>
      <tr>
        <th>Закон</th>
        <td>{{ tender.ticket.tender_type.get_law_display }}</td>
      </tr>
      <tr>
        <th>Подтип</th>
        <td>{{ tender.ticket.get_under_type_display }}</td>
      </tr>
      <tr>
        <th colspan="2">
          <a class="btn font-weight-bold btn-outline-dark" role="button" href="{% url 'tenders:tender_update' tender.id %}">Изменить закупку</a>
          {% if tender.status == 'done' and not tender.contract or tender.status == 'zero' and not tender.contract %}
            <a class="btn font-weight-bold btn-outline-dark" role="button" href="{% url 'contracts:contract_create' tender.ticket.id %}">Создать контракт</a>
          {% elif tender.contract %}
            <a class="btn font-weight-bold btn-outline-dark" role="button" href="{% url 'contracts:contract_detail' tender.contract.id %}">Посмотреть контракт</a>
          {% endif %}
          {% if tender.ikz %}
            <a class="btn font-weight-bold btn-outline-dark" href="https://zakupki.gov.ru/epz/order/extendedsearch/results.html?searchString={{ tender.ikz }}" target="_blank" role="button">Посмотреть в ЕИС</a>
          {% endif %}
        </th>
      </tr>
    </tbody>
  </table>
</div>

<div class="container">
  <table class="table table-sm table-bordered">
    <thead class="thead-default">
      <tr><th class="info" colspan="10">НМЦК</th></tr>
      <tr class="text-center">
        <th class="align-middle">Год лимитов</th>
        <th class="align-middle">Источник</th>
        <th class="align-middle">Статья</th>
        <th class="align-middle">Отралевой код</th>
        <th class="align-middle">Код субсидии</th>
        <th class="align-middle">Подраздел</th>
        <th class="align-middle">Сумма, руб.</th>
        {% if tender.status == 'done' %}
          <th class="align-middle">Цена контракта, руб.</th>
          <th class="align-middle">Экономия, руб.</th>
        {% endif %}
        <th class="align-middle">Действия</th>
      </tr>
    </thead>
    <tbody>
      {% if not tender.startprice_set.all %}
        <tr class="text-center"><td colspan="10">Нет информации о НМЦК</td></tr>
      {% else %}
        {% for price in tender.startprice_set.all %}
          <tr class="text-center">
            <td class="align-middle">{{ price.limit.industry_code.limit_article.source.limit.year }}</td>
            <td class="align-middle" title="{{ price.limit.industry_code.limit_article.source.name }}">{{ price.limit.industry_code.limit_article.source.num }}</td>
            <td class="align-middle" title="{{ price.limit.industry_code.limit_article.name }}">{{ price.limit.industry_code.limit_article.num }}</td>
            <td class="align-middle" title="{{ price.limit.industry_code.name }}">{{ price.limit.industry_code.num }}</td>
            <td class="align-middle">{{ price.limit.sybsidy_code }}</td>
            <td class="align-middle">{{ price.subdivision.num }}</td>
            <td class="align-middle">{{ price.money|print_money }}</td>
            {% if tender.status == 'done' %}
              <td class="align-middle">{{ price.contractprice.money|print_money }}</td>
              <td class="align-middle">{{ price.contractprice.get_economy|print_money }}</td>
            {% endif %}
            <td class="align-middle">
              <a class="btn btn-sm btn-outline-dark" role="button"  href="{% url 'prices:startprice_update' price.id %}">Изменить</a><br>
              <a class="btn btn-sm btn-outline-dark" role="button"  href="{% url 'prices:startprice_copy' tender.id price.id %}">Копировать</a><br>
              <a class="btn btn-sm btn-outline-danger" role="button" href="{% url 'prices:startprice_delete' tender.id price.id %}">Удалить</a>
            </td>
          </tr>
        {% endfor %}
      {% endif %}
  <tr>
    <th colspan="10"><a class="btn font-weight-bold btn-outline-dark" role="button" href="{% url 'prices:startprice_create' tender.id %}">Добавить строку финансирования</a></th>
  </tr>
    </tbody>
  </table>
</div>
{% endblock %}